.hero {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  padding-top: 5rem;
  padding-left: 2rem;
  position: relative;
  overflow: visible;
}

.hero > .headline > .headings > h2,
h1 {
  padding-bottom: 0.2rem;
}

.hero > .headline > .para {
  padding-bottom: 0.8rem;
}

.headline {
  display: flex;
  flex-direction: column;
}
.centresBtn {
  background-color: #2aa8ff;
  color: white;
  width: 15vw;
  height: 2rem;
  text-wrap: nowrap;
  border-radius: 6px;
}
.heroImg > img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  /* display: block; */
}
