.heroContainer {
  position: relative;
}

.overlay {
  position: relative;
  /* top: 70%;  */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 2rem;
}

.searchSection {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.searchSection input {
  width: 40%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.searchSection button {
  background-color: #2aa8ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}

.categorySection {
  text-align: center;
}

.categorySection h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.categories {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.categories div {
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  flex: 1;
  transition: all 0.3s ease-in-out;
}

.categories div:hover {
  background: #e7f0ff;
  transform: scale(1.05);
}
